In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
input_data = pd.read_csv('credit_score_data.csv')

x, y = input_data.iloc[:, :-1], input_data.iloc[:, -1]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

C:\Users\bred7\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3369: DtypeWarning: Columns (26) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
train_full = pd.concat([x_train, y_train], axis=1)
test_full = pd.concat([x_test, y_test], axis=1)

In [4]:
train_full.to_csv("train.csv", index=False)
train_full

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
75220,0x1cebe,CUS_0x475f,May,Tomz,20,782-04-7216,Journalist,101399.13,8535.927500,1,...,Good,1061.06,42.681159,24 Years and 9 Months,No,132.674897,114.2993860848862,High_spent_Medium_value_payments,856.6184673945337,Standard
48955,0x134d9,CUS_0x88e5,April,Poornima Guptav,25,680-32-0710,Accountant,112882.68,9684.890000,5,...,Good,722.9,40.090839,28 Years and 11 Months,No,353.616124,166.44641009831145,High_spent_Large_value_payments,688.4264658667721,Good
44966,0x11d78,CUS_0xb59c,July,Robertad,49,#F%$D@*&8,Scientist,28101.46,2173.463807,5,...,Standard,454.67,23.607892,26 Years and 9 Months,No,268.268012,NaN,Low_spent_Small_value_payments,242.92108023576716,Good
13568,0x6582,CUS_0x2543,January,Robertai,34,272-87-2927,Manager,22438.27,1856.855833,7,...,_,167.57,27.094189,NaN,No,58.436308,105.16564449441844,Low_spent_Large_value_payments,292.0836308808341,Standard
92727,0x23551,CUS_0x20dc,August,Pascaleb,28,285-71-9431,Media_Manager,20975.4,1943.950000,2,...,Good,731.4,26.205042,24 Years and 3 Months,NM,16.196792,67.15820105635807,High_spent_Medium_value_payments,361.0400067119549,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6265,0x3ab7,CUS_0x36f9,February,Lucy Hornbyr,46,992-38-5349,Developer,82065.16,6771.763333,5,...,Good,106.83,35.131041,23 Years and 0 Months,No,180.340607,439.84017944810165,High_spent_Small_value_payments,316.995547225631,Good
54886,0x15798,CUS_0x70a3,July,Islan,20,291-89-8959,Accountant,14920.97,1424.414167,6,...,Standard,1288.58,33.572279,13 Years and 5 Months,Yes,19.909512,110.08423954093125,Low_spent_Small_value_payments,302.44766467037635,Poor
76820,0x1d81e,CUS_0x1cf3,May,Henryc,38,229-46-4057,Manager,66858.27,5770.522500,3,...,Standard,601.58,37.982933,28 Years and 1 Months,NM,175.015182,364.70705194223035,Low_spent_Medium_value_payments,317.3300163104016,Standard
860,0x1b0a,CUS_0x2c0d,May,ernieh,55_,784-23-6447,Doctor,19403.405_,1904.950417,1,...,_,339.11,36.826610,16 Years and 8 Months,No,39.214914,169.85819735076564,Low_spent_Large_value_payments,251.4219298811392,Standard
15795,0x728d,CUS_0x79d5,April,Tomx,33,788-50-6387,Architect,19171.68,NaN,10,...,Bad,2092.74,37.579855,11 Years and 6 Months,NM,92.590913,52.613915154204705,Low_spent_Small_value_payments,286.15917179141763,Poor

In [5]:
test_full.to_csv("test.csv", index=False)
test_full

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
75721,0x1d1af,CUS_0x3539,February,an Arakalid,30,995-31-4669,Manager,43391.96,3688.996667,1,...,Good,1468.28,29.112468,23 Years and 8 Months,No,0.000000,53.969385063055675,High_spent_Large_value_payments,554.9302816036111,Good
80184,0x1ebd6,CUS_0x8716,January,Matthewz,18,185-99-8068,Scientist,14351.21,NaN,8,...,Bad,4766.87,39.849732,NaN,Yes,61.098718,118.08021357217683,Low_spent_Small_value_payments,238.3144849566528,Poor
19864,0x8a66,CUS_0x21dc,January,Tom Miless,41,241-53-8475,Developer,130125.04,10871.753333,5,...,Good,1195.05,21.542892,15 Years and 11 Months,No,204.285650,1255.8993022448951,Low_spent_Small_value_payments,NaN,Good
76699,0x1d769,CUS_0x32d3,April,Lisaa,35,204-78-6176,Manager,20107.21,1631.600833,6,...,Standard,2544.6,32.423759,19 Years and 4 Months,Yes,27.106395,66.81977464950728,Low_spent_Small_value_payments,359.23391378882377,Poor
92991,0x236dd,CUS_0xadad,August,Masond,27,027-11-6852,Doctor,92186.19,7487.182500,1,...,Good,809.01,39.543131,20 Years and 9 Months,No,185.797654,115.52003931707223,High_spent_Medium_value_payments,697.4005568630175,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32595,0xd4fd,CUS_0x765,April,Taylorl,28,282-28-8981,Media_Manager,50940.09_,4106.007500,8,...,Standard,2414.34,34.099913,12 Years and 5 Months,Yes,210.550380,266.03756049601714,Low_spent_Large_value_payments,204.01280945992798,Standard
29313,0xc1c3,CUS_0x3b9a,February,Seetharamanw,32,983-37-5040,Doctor,30819.56,2547.296667,7,...,Standard,401.26,38.868023,14 Years and 2 Months,Yes,96.848591,70.8621814922001,High_spent_Medium_value_payments,337.0188942793012,Standard
37862,0xf3d8,CUS_0x5a6b,July,Charmiant,40,567-66-4662,Architect,24004.5,1935.375000,4,...,Standard,1215.0,34.074416,NaN,Yes,56.365016,NaN,Low_spent_Small_value_payments,355.88961809725936,Poor
53421,0x14f03,CUS_0xc6ac,June,Pav Jordank,37,057-64-6271,Engineer,35185.56,NaN,6,...,Standard,379.47,28.452911,21 Years and 0 Months,No,83.278064,343.9291924398982,Low_spent_Small_value_payments,159.0057433126893,Standard
42410,0x10e80,CUS_0xbaee,March,Karen Freifelds,41,015-50-7138,Journalist,66349.96,5333.163333,6,...,Standard,1740.14,28.336654,11 Years and 11 Months,Yes,165.025519,391.7890393382444,Low_spent_Small_value_payments,266.50177526280345,Standard