In [7]:
import pandas as pd

train_data = pd.read_csv("data/train_data_preprocessed.csv")
test_data = pd.read_csv("data/test_data_preprocessed.csv")

train_y = train_data["Credit_Score"]
train_x = train_data.drop(["Credit_Score"], axis=1)
train_x

,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Utilization_Ratio,Credit_History_Age,...,Payment_of_Min_Amount_NM,Payment_of_Min_Amount_No,Payment_of_Min_Amount_Yes,Payment_Behaviour_!@9#%8,Payment_Behaviour_High_spent_Large_value_payments,Payment_Behaviour_High_spent_Medium_value_payments,Payment_Behaviour_High_spent_Small_value_payments,Payment_Behaviour_Low_spent_Large_value_payments,Payment_Behaviour_Low_spent_Medium_value_payments,Payment_Behaviour_Low_spent_Small_value_payments
0,1.0,3,2,2,14,6,4.97,4.0,42.681159,24.750000,...,False,True,False,False,False,True,False,False,False,False
1,5.0,1,10,4,12,10,6.24,0.0,40.090839,28.916667,...,False,True,False,False,True,False,False,False,False,False
2,5.0,7,8,3,28,8,1.85,4.0,23.607892,26.750000,...,False,True,False,False,False,False,False,False,False,True
3,7.0,7,9,4,16,13,11.24,3.0,27.094189,0.000000,...,False,True,False,False,False,False,False,True,False,False
4,2.0,3,9,1,2,9,9.94,1.0,26.205042,24.250000,...,True,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65819,4.0,5,12,4,7,11,3.17,5.0,32.072697,32.166667,...,True,False,False,False,True,False,False,False,False,False
65820,2.0,5,7,0,-2,12,5.16,0.0,27.192416,20.333333,...,False,True,False,False,False,False,False,False,False,True
65821,5.0,5,3,3,12,9,5.55,1.0,35.131041,23.000000,...,False,True,False,False,False,False,True,False,False,False
65822,1.0,7,3,3,12,9,3.90,2.0,36.826610,16.666667,...,False,True,False,False,False,False,False,True,False,False
65823,10.0,10,34,9,41,23,7.50,11.0,37.579855,11.500000,...,True,False,False,False,False,False,False,False,False,True

In [8]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(max_iter=10000, random_state=42)
print(cross_val_score(model, train_x, train_y, scoring="f1_macro", n_jobs=-1).mean())

0.6176518735241039

In [9]:
from sklearn.feature_selection import f_classif

train_features = train_x.keys()
f_statistic, p_values = f_classif(train_x, train_y)
f_statistic

array([5.58852348e+03, 6.11226625e+03, 9.56113321e+03, 4.63812727e+03,
       7.00688798e+03, 3.61975051e+03, 1.67547630e+03, 7.34884473e+03,
       6.07273406e+01, 3.15436919e+03, 3.40467098e-01, 3.79818153e+00,
       4.76337959e-01, 2.71343812e+00, 1.34552987e+00, 6.34349135e+00,
       2.54372408e+00, 3.31736081e+00, 2.39864273e+00, 5.38379315e+00,
       3.83546404e+00, 3.37117642e+00, 1.10413008e+00, 1.40472717e+00,
       2.77884923e+01, 3.78686698e-01, 4.24397220e+02, 6.99063877e+00,
       3.81583234e+01, 5.48340230e+01, 9.64792278e+02, 7.76667952e+02,
       7.55171122e+02, 6.83314450e+02, 6.76630116e+02, 6.29113600e+02,
       7.90579821e+02, 6.75570086e+02, 7.73565083e+02, 7.37236135e+02,
       4.41485611e+03, 8.49092389e+03, 3.93489051e+03, 2.01957058e-01,
       4.48797877e+00, 6.67776968e+03, 6.40015766e+03, 1.63673690e-01,
       1.62043622e+02, 5.53679817e+01, 6.84661187e+00, 1.66102032e+00,
       7.74439514e+00, 3.07519206e+02])

In [10]:
from pandas import Index

corr_bad_columns = list(Index(['Credit_Utilization_Ratio',
                          'Occupation_Accountant', 'Occupation_Architect', 'Occupation_Developer',
                          'Occupation_Doctor', 'Occupation_Engineer', 'Occupation_Entrepreneur',
                          'Occupation_Journalist', 'Occupation_Lawyer', 'Occupation_Manager',
                          'Occupation_Mechanic', 'Occupation_Media_Manager',
                          'Occupation_Musician', 'Occupation_Scientist', 'Occupation_Teacher',
                          'Occupation_Writer', 'Occupation________', 'Age_categories_Youth',
                          'Age_categories_Young_Adult', 'Age_categories_Adult',
                          'Credit_Mix_Standard', 'Credit_Mix__', 'Payment_of_Min_Amount_NM',
                          'Payment_Behaviour_!@9#%8',
                          'Payment_Behaviour_High_spent_Large_value_payments',
                          'Payment_Behaviour_High_spent_Medium_value_payments',
                          'Payment_Behaviour_High_spent_Small_value_payments',
                          'Payment_Behaviour_Low_spent_Large_value_payments',
                          'Payment_Behaviour_Low_spent_Medium_value_payments',
                          'Payment_Behaviour_Low_spent_Small_value_payments'],
                         dtype='object'))

columns_to_delete = pd.Series(f_statistic).where(f_statistic < 300).dropna().index
f_score_bad_columns = list(train_features[columns_to_delete])
f_score_bad_columns

['Credit_Utilization_Ratio',
 'Occupation_Accountant',
 'Occupation_Architect',
 'Occupation_Developer',
 'Occupation_Doctor',
 'Occupation_Engineer',
 'Occupation_Entrepreneur',
 'Occupation_Journalist',
 'Occupation_Lawyer',
 'Occupation_Manager',
 'Occupation_Mechanic',
 'Occupation_Media_Manager',
 'Occupation_Musician',
 'Occupation_Scientist',
 'Occupation_Teacher',
 'Occupation_Writer',
 'Occupation________',
 'Age_categories_Youth',
 'Age_categories_Young_Adult',
 'Age_categories_Adult',
 'Credit_Mix__',
 'Payment_of_Min_Amount_NM',
 'Payment_Behaviour_!@9#%8',
 'Payment_Behaviour_High_spent_Large_value_payments',
 'Payment_Behaviour_High_spent_Medium_value_payments',
 'Payment_Behaviour_High_spent_Small_value_payments',
 'Payment_Behaviour_Low_spent_Large_value_payments',
 'Payment_Behaviour_Low_spent_Medium_value_payments']

In [11]:
bad_columns = list(set(f_score_bad_columns + corr_bad_columns))
print(f"Features number before deletion: {train_data.shape[1]}")
print(f"Features number to delete: {len(bad_columns)}")
bad_columns

Features number before deletion: 55
Features number to delete: 30

['Occupation_Engineer',
 'Occupation_Writer',
 'Credit_Mix_Standard',
 'Occupation_Doctor',
 'Payment_Behaviour_Low_spent_Medium_value_payments',
 'Payment_Behaviour_!@9#%8',
 'Payment_Behaviour_Low_spent_Large_value_payments',
 'Payment_of_Min_Amount_NM',
 'Age_categories_Young_Adult',
 'Credit_Mix__',
 'Payment_Behaviour_Low_spent_Small_value_payments',
 'Occupation_Lawyer',
 'Occupation_Teacher',
 'Occupation_Developer',
 'Occupation________',
 'Payment_Behaviour_High_spent_Medium_value_payments',
 'Occupation_Scientist',
 'Credit_Utilization_Ratio',
 'Payment_Behaviour_High_spent_Small_value_payments',
 'Occupation_Mechanic',
 'Occupation_Journalist',
 'Occupation_Musician',
 'Age_categories_Adult',
 'Occupation_Media_Manager',
 'Occupation_Accountant',
 'Payment_Behaviour_High_spent_Large_value_payments',
 'Occupation_Architect',
 'Age_categories_Youth',
 'Occupation_Manager',
 'Occupation_Entrepreneur']

In [12]:
train_data = train_data.drop(bad_columns, axis=1)
test_data = test_data.drop(bad_columns, axis=1)

In [13]:
train_data

,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_History_Age,Credit_Score,...,Home Equity Loan,Not Specified,Debt Consolidation Loan,Student Loan,Auto Loan,Payday Loan,Credit_Mix_Bad,Credit_Mix_Good,Payment_of_Min_Amount_No,Payment_of_Min_Amount_Yes
0,1.0,3,2,2,14,6,4.97,4.0,24.750000,Standard,...,0,0,0,0,0,0,False,True,True,False
1,5.0,1,10,4,12,10,6.24,0.0,28.916667,Good,...,1,1,1,0,0,0,False,True,True,False
2,5.0,7,8,3,28,8,1.85,4.0,26.750000,Good,...,0,0,1,1,0,0,False,False,True,False
3,7.0,7,9,4,16,13,11.24,3.0,0.000000,Standard,...,0,0,1,1,1,0,False,False,True,False
4,2.0,3,9,1,2,9,9.94,1.0,24.250000,Good,...,0,0,0,0,1,0,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65819,4.0,5,12,4,7,11,3.17,5.0,32.166667,Good,...,0,0,0,1,2,1,False,True,False,False
65820,2.0,5,7,0,-2,12,5.16,0.0,20.333333,Good,...,0,0,0,0,0,0,False,True,True,False
65821,5.0,5,3,3,12,9,5.55,1.0,23.000000,Good,...,1,1,0,0,1,0,False,True,True,False
65822,1.0,7,3,3,12,9,3.90,2.0,16.666667,Standard,...,0,0,2,0,0,0,False,False,True,False
65823,10.0,10,34,9,41,23,7.50,11.0,11.500000,Poor,...,1,1,0,0,2,1,True,False,False,False

In [14]:
test_data

,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_History_Age,Credit_Score,...,Student Loan,Debt Consolidation Loan,Credit-Builder Loan,Home Equity Loan,Auto Loan,Payday Loan,Credit_Mix_Bad,Credit_Mix_Good,Payment_of_Min_Amount_No,Payment_of_Min_Amount_Yes
0,1,5,10,0,9,6,10.72,0.0,23.666667,Good,...,0,0,0,0,0,0,False,True,True,False
1,8,7,18,6,18,17,21.91,9.0,0.000000,Poor,...,2,0,0,0,0,0,True,False,False,True
2,5,2,11,2,3,0,3.82,645.0,15.916667,Good,...,0,1,0,0,0,0,False,True,True,False
3,6,6,32,2,15,13,10.40,11.0,19.333333,Poor,...,0,0,1,1,0,0,False,False,False,True
4,1,2,12,4,1,0,9.74,4.0,20.750000,Good,...,0,0,0,0,1,0,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,8,7,8,5,12,15,16.11,6.0,12.416667,Standard,...,2,1,1,0,0,0,False,False,False,True
19996,7,3,9,4,8,14,7.68,5.0,14.166667,Standard,...,1,0,0,1,0,1,False,False,False,True
19997,4,3,14,5,13,20,12.30,10.0,0.000000,Poor,...,0,0,0,1,0,2,False,False,False,True
19998,6,4,14,3,4,10,7.14,0.0,21.000000,Standard,...,0,0,1,1,0,0,False,False,True,False
19999,6,9,16,4,15,11,5.58,12.0,11.916667,Standard,...,0,0,1,1,0,1,False,False,False,True

In [15]:
y = train_data["Credit_Score"]
x = train_data.drop(["Credit_Score"], axis=1)

print(cross_val_score(model, x, y, scoring="f1_macro", n_jobs=-1).mean())

0.6083786932093285

In [16]:
train_data.to_csv("data/train_data_features_selected.csv", index=False)
test_data.to_csv("data/test_data_features_selected.csv", index=False)

In [17]:
from sklearn.feature_selection import RFECV

rfecv = RFECV(
    estimator=model,
    scoring="f1_macro",
    n_jobs=-1,
    min_features_to_select=10
)
rfecv.fit(train_x, train_y)
print(f"Optimal number of features: {rfecv.n_features_}")
rfecv.support_

Optimal number of features: 52

array([ True,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True])

In [18]:
rfecv.support_

array([ True,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True])

In [19]:
rfecv_good_columns = list(train_x.keys()[rfecv.support_])
print(cross_val_score(model, train_x[rfecv_good_columns], train_y, scoring="f1_macro", n_jobs=-1).mean())

0.6179312359364846

In [20]:
train_data = pd.read_csv("data/train_data_preprocessed.csv")
test_data = pd.read_csv("data/test_data_preprocessed.csv")

In [21]:
train_data = train_data[rfecv_good_columns + ["Credit_Score"]]
test_data = test_data[rfecv_good_columns + ["Credit_Score"]]

In [22]:
train_data

,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_History_Age,Occupation_Accountant,...,Payment_of_Min_Amount_No,Payment_of_Min_Amount_Yes,Payment_Behaviour_!@9#%8,Payment_Behaviour_High_spent_Large_value_payments,Payment_Behaviour_High_spent_Medium_value_payments,Payment_Behaviour_High_spent_Small_value_payments,Payment_Behaviour_Low_spent_Large_value_payments,Payment_Behaviour_Low_spent_Medium_value_payments,Payment_Behaviour_Low_spent_Small_value_payments,Credit_Score
0,1.0,3,2,2,14,6,4.97,4.0,24.750000,False,...,True,False,False,False,True,False,False,False,False,Standard
1,5.0,1,10,4,12,10,6.24,0.0,28.916667,True,...,True,False,False,True,False,False,False,False,False,Good
2,5.0,7,8,3,28,8,1.85,4.0,26.750000,False,...,True,False,False,False,False,False,False,False,True,Good
3,7.0,7,9,4,16,13,11.24,3.0,0.000000,False,...,True,False,False,False,False,False,True,False,False,Standard
4,2.0,3,9,1,2,9,9.94,1.0,24.250000,False,...,False,False,False,False,True,False,False,False,False,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65819,4.0,5,12,4,7,11,3.17,5.0,32.166667,False,...,False,False,False,True,False,False,False,False,False,Good
65820,2.0,5,7,0,-2,12,5.16,0.0,20.333333,True,...,True,False,False,False,False,False,False,False,True,Good
65821,5.0,5,3,3,12,9,5.55,1.0,23.000000,False,...,True,False,False,False,False,True,False,False,False,Good
65822,1.0,7,3,3,12,9,3.90,2.0,16.666667,False,...,True,False,False,False,False,False,True,False,False,Standard
65823,10.0,10,34,9,41,23,7.50,11.0,11.500000,False,...,False,False,False,False,False,False,False,False,True,Poor

In [23]:
test_data

,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_History_Age,Occupation_Accountant,...,Payment_of_Min_Amount_No,Payment_of_Min_Amount_Yes,Payment_Behaviour_!@9#%8,Payment_Behaviour_High_spent_Large_value_payments,Payment_Behaviour_High_spent_Medium_value_payments,Payment_Behaviour_High_spent_Small_value_payments,Payment_Behaviour_Low_spent_Large_value_payments,Payment_Behaviour_Low_spent_Medium_value_payments,Payment_Behaviour_Low_spent_Small_value_payments,Credit_Score
0,1,5,10,0,9,6,10.72,0.0,23.666667,False,...,True,False,False,True,False,False,False,False,False,Good
1,8,7,18,6,18,17,21.91,9.0,0.000000,False,...,False,True,False,False,False,False,False,False,True,Poor
2,5,2,11,2,3,0,3.82,645.0,15.916667,False,...,True,False,False,False,False,False,False,False,True,Good
3,6,6,32,2,15,13,10.40,11.0,19.333333,False,...,False,True,False,False,False,False,False,False,True,Poor
4,1,2,12,4,1,0,9.74,4.0,20.750000,False,...,True,False,False,False,True,False,False,False,False,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,8,7,8,5,12,15,16.11,6.0,12.416667,False,...,False,True,False,False,False,False,True,False,False,Standard
19996,7,3,9,4,8,14,7.68,5.0,14.166667,False,...,False,True,False,False,True,False,False,False,False,Standard
19997,4,3,14,5,13,20,12.30,10.0,0.000000,False,...,False,True,False,False,False,False,False,False,True,Poor
19998,6,4,14,3,4,10,7.14,0.0,21.000000,False,...,True,False,False,False,False,False,False,False,True,Standard
19999,6,9,16,4,15,11,5.58,12.0,11.916667,False,...,False,True,False,False,False,False,False,False,True,Standard

In [24]:
train_data.to_csv("data/train_data_features_selected.csv", index=False)
test_data.to_csv("data/test_data_features_selected.csv", index=False)

In [25]:
train_data.drop(["Credit_Score"], axis=1).keys()

Index(['Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_History_Age', 'Occupation_Accountant',
       'Occupation_Architect', 'Occupation_Developer', 'Occupation_Doctor',
       'Occupation_Engineer', 'Occupation_Journalist', 'Occupation_Lawyer',
       'Occupation_Manager', 'Occupation_Mechanic', 'Occupation_Media_Manager',
       'Occupation_Musician', 'Occupation_Scientist', 'Occupation_Teacher',
       'Occupation_Writer', 'Occupation________', 'Age_categories_Teenager',
       'Age_categories_Youth', 'Age_categories_Young_Adult',
       'Age_categories_Adult', 'Age_categories_Senior', 'Mortgage Loan',
       'Personal Loan', 'Credit-Builder Loan', 'Home Equity Loan',
       'Not Specified', 'Debt Consolidation Loan', 'Student Loan', 'Auto Loan',
       'Payday Loan', 'Credit_Mix_Bad', 'Credit_Mix_Good',
       'Credit_Mix_Standard', 'Credit_Mix__', 'Payment_of_Min_Amount_NM',
       'Payment_of_Min_Amount_No', 'Payment_of_Min_Amount_Yes',
       'Payment_Behaviour_!@9#%8',
       'Payment_Behaviour_High_spent_Large_value_payments',
       'Payment_Behaviour_High_spent_Medium_value_payments',
       'Payment_Behaviour_High_spent_Small_value_payments',
       'Payment_Behaviour_Low_spent_Large_value_payments',
       'Payment_Behaviour_Low_spent_Medium_value_payments',
       'Payment_Behaviour_Low_spent_Small_value_payments'],
      dtype='object')