In [41]:
import pandas as pd

train_data = pd.read_csv("train_data_preprocessed.csv")
test_data = pd.read_csv("test_data_preprocessed.csv")

train_y = train_data["Credit_Score"]
train_x = train_data.drop(["Credit_Score"], axis=1)

In [42]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(max_iter=10000, random_state=42)
print(cross_val_score(model, train_x, train_y, scoring="accuracy", n_jobs=-1).mean())

0.6488798246716995

In [43]:
from sklearn.feature_selection import f_classif

train_features = train_x.keys()
f_statistic, p_values = f_classif(train_x, train_y)
f_statistic

array([3.72340547e+02, 4.05426019e+03, 4.49291177e+03, 7.78897282e+03,
       3.32195992e+03, 5.13400040e+03, 2.44208619e+03, 1.14169548e+03,
       5.91168276e+03, 5.63659857e+03, 1.35530007e+01, 2.32806307e+03,
       3.13496334e+02, 1.00992430e+02, 8.67159554e+02, 2.92078792e+00,
       2.52452578e+00, 2.88337779e-02, 2.09001974e+00, 6.14842708e-01,
       4.76524657e+00, 7.35556902e+00, 8.96216860e-01, 1.68352635e+00,
       5.78835382e+00, 1.37550932e+00, 3.42609284e+00, 1.81448471e-01,
       8.74545908e-01, 2.01856749e+01, 8.91821251e-02, 3.25661943e+02,
       2.04727258e+00, 2.41027663e+01, 4.59444040e+01, 7.31476946e+02,
       4.57715747e+02, 4.55979599e+02, 3.93982913e+02, 5.36915478e+02,
       4.76559629e+02, 5.04449997e+02, 4.95645937e+02, 4.67804399e+02,
       4.81410250e+02, 3.26451542e+03, 6.95859424e+03, 3.10548055e+03,
       2.13279243e-01, 5.62962174e+00, 5.20919416e+03, 4.85243418e+03,
       1.17283022e-01, 7.78228073e+01, 7.14668312e+01, 1.68393200e+01,
       3.82273109e+00, 1.81964762e+01, 2.02801305e+02])

In [44]:
from pandas import Index

corr_bad_columns = list(Index(['Credit_Utilization_Ratio', 'Amount_invested_monthly',
                          'Occupation_Accountant', 'Occupation_Architect', 'Occupation_Developer',
                          'Occupation_Doctor', 'Occupation_Engineer', 'Occupation_Entrepreneur',
                          'Occupation_Journalist', 'Occupation_Lawyer', 'Occupation_Manager',
                          'Occupation_Mechanic', 'Occupation_Media_Manager',
                          'Occupation_Musician', 'Occupation_Scientist', 'Occupation_Teacher',
                          'Occupation_Writer', 'Occupation________', 'Age_categories_Youth',
                          'Age_categories_Young_Adult', 'Age_categories_Adult',
                          'Credit_Mix_Standard', 'Credit_Mix__', 'Payment_of_Min_Amount_NM',
                          'Payment_Behaviour_!@9#%8',
                          'Payment_Behaviour_High_spent_Large_value_payments',
                          'Payment_Behaviour_High_spent_Medium_value_payments',
                          'Payment_Behaviour_High_spent_Small_value_payments',
                          'Payment_Behaviour_Low_spent_Large_value_payments',
                          'Payment_Behaviour_Low_spent_Medium_value_payments',
                          'Payment_Behaviour_Low_spent_Small_value_payments'],
                         dtype='object'))

columns_to_delete = pd.Series(f_statistic).where(f_statistic < 300).dropna().index
f_score_bad_columns = list(train_features[columns_to_delete])
f_score_bad_columns

['Credit_Utilization_Ratio',
 'Amount_invested_monthly',
 'Occupation_Accountant',
 'Occupation_Architect',
 'Occupation_Developer',
 'Occupation_Doctor',
 'Occupation_Engineer',
 'Occupation_Entrepreneur',
 'Occupation_Journalist',
 'Occupation_Lawyer',
 'Occupation_Manager',
 'Occupation_Mechanic',
 'Occupation_Media_Manager',
 'Occupation_Musician',
 'Occupation_Scientist',
 'Occupation_Teacher',
 'Occupation_Writer',
 'Occupation________',
 'Age_categories_Youth',
 'Age_categories_Young_Adult',
 'Age_categories_Adult',
 'Credit_Mix__',
 'Payment_of_Min_Amount_NM',
 'Payment_Behaviour_!@9#%8',
 'Payment_Behaviour_High_spent_Large_value_payments',
 'Payment_Behaviour_High_spent_Medium_value_payments',
 'Payment_Behaviour_High_spent_Small_value_payments',
 'Payment_Behaviour_Low_spent_Large_value_payments',
 'Payment_Behaviour_Low_spent_Medium_value_payments',
 'Payment_Behaviour_Low_spent_Small_value_payments']

In [45]:
bad_columns = list(set(f_score_bad_columns + corr_bad_columns))
print(f"Features number before deletion: {train_data.shape[1]}")
print(f"Features number to delete: {len(bad_columns)}")
bad_columns

Features number before deletion: 60
Features number to delete: 31

['Payment_Behaviour_High_spent_Small_value_payments',
 'Age_categories_Adult',
 'Amount_invested_monthly',
 'Occupation_Engineer',
 'Occupation_Lawyer',
 'Occupation_Writer',
 'Occupation_Scientist',
 'Occupation_Media_Manager',
 'Occupation_Journalist',
 'Payment_Behaviour_High_spent_Medium_value_payments',
 'Payment_Behaviour_High_spent_Large_value_payments',
 'Age_categories_Youth',
 'Payment_Behaviour_Low_spent_Large_value_payments',
 'Occupation_Architect',
 'Occupation_Musician',
 'Occupation_Manager',
 'Occupation_Developer',
 'Payment_Behaviour_Low_spent_Medium_value_payments',
 'Payment_Behaviour_!@9#%8',
 'Payment_Behaviour_Low_spent_Small_value_payments',
 'Occupation_Accountant',
 'Occupation________',
 'Credit_Mix_Standard',
 'Age_categories_Young_Adult',
 'Occupation_Mechanic',
 'Occupation_Teacher',
 'Credit_Utilization_Ratio',
 'Occupation_Doctor',
 'Credit_Mix__',
 'Payment_of_Min_Amount_NM',
 'Occupation_Entrepreneur']

In [46]:
train_data = train_data.drop(bad_columns, axis=1)
test_data = test_data.drop(bad_columns, axis=1)

In [47]:
train_data

,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,...,Debt Consolidation Loan,Student Loan,Mortgage Loan,Auto Loan,Payday Loan,Personal Loan,Credit_Mix_Bad,Credit_Mix_Good,Payment_of_Min_Amount_No,Payment_of_Min_Amount_Yes
0,112882.680,5.0,1,10,4,12,10,6.24,0.0,722.90,...,1,0,0,0,0,0,False,True,True,False
1,28101.460,5.0,7,8,3,28,8,1.85,4.0,454.67,...,1,1,0,0,0,0,False,False,True,False
2,22438.270,7.0,7,9,4,16,13,11.24,3.0,167.57,...,1,1,1,1,0,0,False,False,True,False
3,20975.400,2.0,3,9,1,2,9,9.94,1.0,731.40,...,0,0,0,1,0,0,False,True,False,False
4,31751.830,5.0,4,18,3,24,12,18.76,8.0,110.73,...,0,1,0,0,1,0,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47614,21553.810,4.0,5,12,4,7,11,3.17,5.0,1187.52,...,0,1,0,2,1,0,False,True,False,False
47615,20799.590,2.0,5,7,0,-2,12,5.16,0.0,33.25,...,0,0,0,0,0,0,False,True,True,False
47616,82065.160,5.0,5,3,3,12,9,5.55,1.0,106.83,...,0,0,0,1,0,0,False,True,True,False
47617,19403.405,1.0,7,3,3,12,9,3.90,2.0,339.11,...,2,0,0,0,0,0,False,False,True,False
47618,19171.680,10.0,10,34,9,41,23,7.50,11.0,2092.74,...,0,0,1,2,1,0,True,False,False,False

In [48]:
test_data

,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,...,Student Loan,Debt Consolidation Loan,Credit-Builder Loan,Home Equity Loan,Auto Loan,Payday Loan,Credit_Mix_Bad,Credit_Mix_Good,Payment_of_Min_Amount_No,Payment_of_Min_Amount_Yes
0,43391.96,1,5,10,0,9,6,10.72,0.0,1468.28,...,0,0,0,0,0,0,False,True,True,False
1,14351.21,8,7,18,6,18,17,21.91,9.0,4766.87,...,2,0,0,0,0,0,True,False,False,True
2,130125.04,5,2,11,2,3,0,3.82,645.0,1195.05,...,0,1,0,0,0,0,False,True,True,False
3,20107.21,6,6,32,2,15,13,10.40,11.0,2544.60,...,0,0,1,1,0,0,False,False,False,True
4,92186.19,1,2,12,4,1,0,9.74,4.0,809.01,...,0,0,0,0,1,0,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,50940.09,8,7,8,5,12,15,16.11,6.0,2414.34,...,2,1,1,0,0,0,False,False,False,True
19996,30819.56,7,3,9,4,8,14,7.68,5.0,401.26,...,1,0,0,1,0,1,False,False,False,True
19997,24004.50,4,3,14,5,13,20,12.30,10.0,1215.00,...,0,0,0,1,0,2,False,False,False,True
19998,35185.56,6,4,14,3,4,10,7.14,0.0,379.47,...,0,0,1,1,0,0,False,False,True,False
19999,66349.96,6,9,16,4,15,11,5.58,12.0,1740.14,...,0,0,1,1,0,1,False,False,False,True

In [49]:
y = train_data["Credit_Score"]
x = train_data.drop(["Credit_Score"], axis=1)

print(cross_val_score(model, x, y, scoring="accuracy", n_jobs=-1).mean())

0.6415087581898472

In [50]:
train_data.to_csv("train_data_features_selected.csv", index=False)
test_data.to_csv("test_data_features_selected.csv", index=False)

In [51]:
from sklearn.feature_selection import RFECV

rfecv = RFECV(
    estimator=model,
    scoring="accuracy",
    n_jobs=-1,
    min_features_to_select=10
)
rfecv.fit(train_x, train_y)
print(f"Optimal number of features: {rfecv.n_features_}")
rfecv.support_

Optimal number of features: 55

array([False,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [52]:
rfecv_good_columns = list(train_x.keys()[rfecv.support_])

print(cross_val_score(model, train_x[rfecv_good_columns], train_y, scoring="accuracy", n_jobs=-1).mean())

0.6761797130958568

In [58]:
train_data = pd.read_csv("train_data_preprocessed.csv")
test_data = pd.read_csv("test_data_preprocessed.csv")

In [59]:
train_data = train_data[rfecv_good_columns + ["Credit_Score"]]
test_data = test_data[rfecv_good_columns + ["Credit_Score"]]

In [60]:
train_data

,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Utilization_Ratio,Credit_History_Age,...,Payment_of_Min_Amount_No,Payment_of_Min_Amount_Yes,Payment_Behaviour_!@9#%8,Payment_Behaviour_High_spent_Large_value_payments,Payment_Behaviour_High_spent_Medium_value_payments,Payment_Behaviour_High_spent_Small_value_payments,Payment_Behaviour_Low_spent_Large_value_payments,Payment_Behaviour_Low_spent_Medium_value_payments,Payment_Behaviour_Low_spent_Small_value_payments,Credit_Score
0,5.0,1,10,4,12,10,6.24,0.0,40.090839,28.916667,...,True,False,False,True,False,False,False,False,False,Good
1,5.0,7,8,3,28,8,1.85,4.0,23.607892,26.750000,...,True,False,False,False,False,False,False,False,True,Good
2,7.0,7,9,4,16,13,11.24,3.0,27.094189,0.000000,...,True,False,False,False,False,False,True,False,False,Standard
3,2.0,3,9,1,2,9,9.94,1.0,26.205042,24.250000,...,False,False,False,False,True,False,False,False,False,Good
4,5.0,4,18,3,24,12,18.76,8.0,24.301922,24.083333,...,False,True,True,False,False,False,False,False,False,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47614,4.0,5,12,4,7,11,3.17,5.0,32.072697,32.166667,...,False,False,False,True,False,False,False,False,False,Good
47615,2.0,5,7,0,-2,12,5.16,0.0,27.192416,20.333333,...,True,False,False,False,False,False,False,False,True,Good
47616,5.0,5,3,3,12,9,5.55,1.0,35.131041,23.000000,...,True,False,False,False,False,True,False,False,False,Good
47617,1.0,7,3,3,12,9,3.90,2.0,36.826610,16.666667,...,True,False,False,False,False,False,True,False,False,Standard
47618,10.0,10,34,9,41,23,7.50,11.0,37.579855,11.500000,...,False,False,False,False,False,False,False,False,True,Poor

In [61]:
test_data

,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Utilization_Ratio,Credit_History_Age,...,Payment_of_Min_Amount_No,Payment_of_Min_Amount_Yes,Payment_Behaviour_!@9#%8,Payment_Behaviour_High_spent_Large_value_payments,Payment_Behaviour_High_spent_Medium_value_payments,Payment_Behaviour_High_spent_Small_value_payments,Payment_Behaviour_Low_spent_Large_value_payments,Payment_Behaviour_Low_spent_Medium_value_payments,Payment_Behaviour_Low_spent_Small_value_payments,Credit_Score
0,1,5,10,0,9,6,10.72,0.0,29.112468,23.666667,...,True,False,False,True,False,False,False,False,False,Good
1,8,7,18,6,18,17,21.91,9.0,39.849732,0.000000,...,False,True,False,False,False,False,False,False,True,Poor
2,5,2,11,2,3,0,3.82,645.0,21.542892,15.916667,...,True,False,False,False,False,False,False,False,True,Good
3,6,6,32,2,15,13,10.40,11.0,32.423759,19.333333,...,False,True,False,False,False,False,False,False,True,Poor
4,1,2,12,4,1,0,9.74,4.0,39.543131,20.750000,...,True,False,False,False,True,False,False,False,False,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,8,7,8,5,12,15,16.11,6.0,34.099913,12.416667,...,False,True,False,False,False,False,True,False,False,Standard
19996,7,3,9,4,8,14,7.68,5.0,38.868023,14.166667,...,False,True,False,False,True,False,False,False,False,Standard
19997,4,3,14,5,13,20,12.30,10.0,34.074416,0.000000,...,False,True,False,False,False,False,False,False,True,Poor
19998,6,4,14,3,4,10,7.14,0.0,28.452911,21.000000,...,True,False,False,False,False,False,False,False,True,Standard
19999,6,9,16,4,15,11,5.58,12.0,28.336654,11.916667,...,False,True,False,False,False,False,False,False,True,Standard

In [62]:
train_data.to_csv("train_data_features_selected.csv", index=False)
test_data.to_csv("test_data_features_selected.csv", index=False)