In [2]:
import pandas as pd

train_data = pd.read_csv("train_data_preprocessed.csv")
train_data

,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,...,Payment_of_Min_Amount_NM,Payment_of_Min_Amount_No,Payment_of_Min_Amount_Yes,Payment_Behaviour_!@9#%8,Payment_Behaviour_High_spent_Large_value_payments,Payment_Behaviour_High_spent_Medium_value_payments,Payment_Behaviour_High_spent_Small_value_payments,Payment_Behaviour_Low_spent_Large_value_payments,Payment_Behaviour_Low_spent_Medium_value_payments,Payment_Behaviour_Low_spent_Small_value_payments
0,112882.680,5.0,1,10,4,12,10,6.24,0.0,722.90,...,False,True,False,False,True,False,False,False,False,False
1,28101.460,5.0,7,8,3,28,8,1.85,4.0,454.67,...,False,True,False,False,False,False,False,False,False,True
2,22438.270,7.0,7,9,4,16,13,11.24,3.0,167.57,...,False,True,False,False,False,False,False,True,False,False
3,20975.400,2.0,3,9,1,2,9,9.94,1.0,731.40,...,True,False,False,False,False,True,False,False,False,False
4,31751.830,5.0,4,18,3,24,12,18.76,8.0,110.73,...,False,False,True,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47614,21553.810,4.0,5,12,4,7,11,3.17,5.0,1187.52,...,True,False,False,False,True,False,False,False,False,False
47615,20799.590,2.0,5,7,0,-2,12,5.16,0.0,33.25,...,False,True,False,False,False,False,False,False,False,True
47616,82065.160,5.0,5,3,3,12,9,5.55,1.0,106.83,...,False,True,False,False,False,False,True,False,False,False
47617,19403.405,1.0,7,3,3,12,9,3.90,2.0,339.11,...,False,True,False,False,False,False,False,True,False,False
47618,19171.680,10.0,10,34,9,41,23,7.50,11.0,2092.74,...,True,False,False,False,False,False,False,False,False,True